#blogDetail {

    .backImage {
        width: 100%;
        height: 600px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .blogDetail {
        .blogImage {
            width: 100%;
        }
    }
}