#aboutPage {
    .backImage {
        background-image: url('../../../assets/backgroundImages/haqqimizda.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 600px;
        background-size: cover;

        // img {
        //     width: 100%;
        //     height: 100%;
        // }
    }

    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;

    .aboutPage {
        padding: 0 15px;

        .about {
            text-align: center;
        }
    }
}