main {

    #detailPage {

        .coverImage {
            width: 100%;
            height: 100vh;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .aboutText {
            padding: 0 10px;

            h5 {
                font-weight: 200;
                color: #252525;
                line-height: 26.4px;
                letter-spacing: 0;
                font-size: 24px;
                text-transform: uppercase;
            }

            p {
                text-align: justify;
                font-weight: 400;
                font-size: 16px;
                color: #5b5b5b;
                line-height: 28px;
                margin-left: 10px;
            }
        }
    }
}

.grid-container {
    columns: 3 200px;
    column-gap: 1.5rem;
    width: 100%;
    padding: 60px 10px;

    .ant-image {
        margin: 0 0 1.5rem 0;
        display: inline-block;
        width: 100%;
        border: solid 2px black;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        overflow: hidden;

        &:hover {
            border-color: coral;

            .fa-trash {
                display: inline;
            }

        }
    }
}



@keyframes shine {
    100% {
        left: 125%;
    }
}