#guaranteePage {
    .backColor {
        width: 100%;
        height: 600px;
        background-color: antiquewhite;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
}