#skeleton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    .ant-skeleton-image {
        width: 270px;
        height: 180px;
    }
}