#notFound {
    padding: 160px;
    width: 100%;

    @media only screen and (max-width: 768px) {
        padding: 0;
    }

    .ant-result-title,
    .ant-result-subtitle {
        width: 100%;
        color: #b71312;
        font-weight: 900s;
    }
}